


.user {
  padding: 20px;
  background-color: beige;
  width: calc(20% - 20px); /* Adjusted width */
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%; /* Adjusted width */
}



.container {
  position: relative;
  max-width: 500px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.editButton{
  border-radius: 10px;
  background-color: rgb(22, 84, 14);
  color: #faf8f8;
  font-size: 15px;
}
.deleteButton{
  border-radius: 10px;
  background-color: rgb(149, 44, 67);
  color: #f5f3f3;
  font-size: 15px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}


.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 25%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background:rgb(130, 106, 251);
  border-radius: 10px;
}
.form button:hover {
  background: rgb(88, 56, 250);
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}






